<div>
  <div>
    <div class="container-fluid ">
      <div class="row" style="margin-bottom: -19px;">
        <div class="col-lg-2 d-flex">
          
          <div>
            <img class="ms-5 mt-2" src="https://upload.wikimedia.org/wikipedia/en/thumb/3/37/Jumpman_logo.svg/768px-Jumpman_logo.svg.png" width="20px" height="20px" alt="">
          </div>
        </div>
        <div class="col-lg-6"></div>
        <div class="col-lg-4">
         
          <ul class="d-flex justify-content-end me-5" style="list-style: none; gap: 14px; padding-top: 5px;">
            <li><a href="#" style="text-decoration: none; color: black; font-size: 12px; font-weight: bold;">Find a Store</a></li>
            <p class="mt-1" style="font-size: small;">|</p>
            <li><a href="#" style="text-decoration: none; color: black; font-size: 12px; font-weight: bold;">Help</a></li>
            <p class="mt-1" style="font-size: small;">|</p>
            <li><a href="#" style="text-decoration: none; color: black; font-size: 12px; font-weight: bold;">Join Us</a></li>
            <p class="mt-1" style="font-size: small;">|</p>
            <li><a href="#" style="text-decoration: none; color: black; font-size: 12px; font-weight: bold;">Sign In</a></li>
          </ul>
        </div>
      </div>
    </div>
</div>

  <div>
    <nav>
      <div class="navbar-container">
        
        <div class="logo ms-5">
          <img src="https://i.pinimg.com/originals/20/60/2d/20602d43cc993811e5a6bd1886af4f33.png" alt="Logo">
        </div>
  
       
       <div style="margin-left:200px;">
          <ul class="nav-links" style="font-weight: 500; font-size: 10px;">
            <li><a href="#">New & Featured</a></li>
            <li><a href="#">Men</a></li>
            <li><a href="#">Women</a></li>
            <li><a href="#">Kids</a></li>
            <li><a href="#">Sale</a></li>
            <li><a href="#">Customize</a></li>
            <li><a href="#">SNKRS</a></li>
          </ul>
       </div>
  
      <div class="me-5">
        
          <form class="search-form">
            <input class="search-input" type="text" placeholder="Search">
            <i class="fa-regular fa-heart icon"></i>
            <i class="fas fa-shopping-bag icon ms-3"></i>
          </form>
      </div>
      </div>
    </nav>
  
  
    
  </div>

  <div>
   <div class="text-center"> 
    <p class="mt-1" style="font-size: 17px;  font-weight:600;">Move, Shop, Customise & Celebrate With Us.</p>
    <p style="font-size: 12px;  font-weight:600; margin-top: -15px;">No matter What you feel like doing today , its better as a Member.</p>
    <h6 style="margin-top: -10px;  font-size: 12px;  font-weight:bold; "><a href=""  style="color: black;">Join Us</a></h6>
  </div>
  </div>

  
  <div class="image-container" style="margin-top: 100px;">
    
    <div class="column">
      <img src="https://i.pinimg.com/originals/f7/a6/7a/f7a67af0dfa85560e0fc919612605486.jpg" alt="Image 1">
    </div>

    
    <div class="column">
      <img src="https://s-media-cache-ak0.pinimg.com/600x315/93/5e/11/935e11c5e292daea18b5399467293488.jpg" alt="Image 2">
    </div>
  </div>

  
  <div class="container text-center">
        <div class="content-container">
          
          <h3 class="small-heading mt-3" style="color: black;">Nike Invincible 3</h3>

          
          <h1 class="big-heading" style="font-weight: bolder;  font-size: 80px; margin-top: -20px;">FEEL IT TO BELEIVE IT</h1>

          
          <p class="paragraph" style="font-weight: bold; color: black;">Take cushion for a run with new colors in the Invincible 3</p>

        
          <div class="btn-container">
            <button class="btn text-light ps-4 pe-4 mt-3" style="background-color: black;  border-radius: 20px; font-weight:bold;">Shop</button>
          </div>

          
        </div>
      
  </div>

  <div style="margin-top: -450px;">
    <div class="header-container">
      
      <div style="font-weight:600;" class="heading-left ms-4">New Year, New Arrivals</div>
  
    
      <div class="icon-container">
      <div style="font-weight:600;" class="heading-right me-4">Shop
        
          <i style="font-size: large;" class="fas fa-chevron-left icon"></i>
          <i style="font-size: large;" class="fas fa-chevron-right icon"></i>
        </div>
      </div>
    </div>
  
   
    <div class="card-container">
      
      <div class="card" style="width: 450px; height: 450px;">
        <img class="w-100 h-100" src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.3/h_467,c_limit/a8254cc4-b776-47b2-898f-7e6e1f564c94/air-force-1-07-shoes-RgcF1Q.png" alt="Card 1 Image">
      </div>
  
      
      <div class="card" style="width: 450px; height: 450px;">
        <img class="w-100 h-100" src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.3/h_467,c_limit/7cd4c8ff-8671-4a41-a511-da2492badefa/air-force-1-07-shoes-dTN9bg.png" alt="Card 2 Image">
        
      </div>
  
      
      <div class="card" style="width: 450px; height: 450px;">
        <img class="w-100 h-100" src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.3/h_467,c_limit/192fd022-6950-4373-96e5-289092314a7d/air-force-1-07-shoes-rKDDnV.png" alt="Card 3 Image">
      </div>
    </div>

    <div class="column-container">
    
      <div class="column">
        <h6 style="font-size: 17px;">Nike Air Force 1 '07</h6>
        <p style="margin-top: -7px; font-size: 17px;">Men's Shoes</p>
        <h6 style="margin-top: -8px; font-size: 18px;">MRP: ₹ 10 795</h6>
      </div>
  
      
      <div class="column">
        <h6 style="font-size: 17px;">Nike Air Force 1 '07</h6>
        <p style="margin-top: -7px; font-size: 17px;">Men's Shoes</p>
        <h6 style="margin-top: -8px; font-size: 18px;">MRP: ₹ 11 495</h6>
      </div>
  
      
      <div class="column">
        <h6 style="font-size: 17px;">Nike Air Force 1 '07</h6>
        <p style="margin-top: -7px; font-size: 17px;">Women's Shoes</p>
        <h6 style="margin-top: -8px; font-size: 18px;">MRP: ₹ 9 695</h6>
      </div>
    </div>


  </div>

    <div class="mt-5" >
      <div class="heading-left ms-5" style="font-weight:600;">Trending</div>
      <div class="image-container mt-5">
      
        <div class="column">
          <img src="https://cdn.flightclub.com/750/TEMPLATE/165631/1.jpg" alt="Image 1">
        </div>
    
        
        <div class="column">
          <img src="https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2017%2F03%2Fnike-air-max-zero-new-colorways-1.jpg?cbr=1&q=90" alt="Image 2">
        </div>
      </div>
    </div>


    <div class="" style="margin-top: 120px;" >
      <div class="heading-left ms-5" style="font-weight:600;">Don't Miss</div>
      <div class="image-container mt-5">
      
        <div class="column">
          <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/50620c32-c95c-4c38-82ef-7b449dcd30f0/jumpman-mvp-shoes-JV1HCs.png" alt="Image 1">
        </div>
    
        
        <div class="column">
          <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/30a3acb4-2371-44e0-ab7b-a166f5181c20/air-jordan-xxxviii-aqua-pf-basketball-shoes-tTRwfF.png" alt="Image 2">
        </div>
      </div>
    </div>


    

    <div class="container text-center" style="margin-top: 140px;">
      <div class="content-container">
        
        <h3 class="small-heading mt-3" style="color: black;">Nike Force 1 Low EasyOn</h3>

        
        <h1 class="big-heading" style="font-weight: bolder;  font-size: 80px; margin-top: -20px;">NIKE EASYON AND GO</h1>

        
        <p class="paragraph" style="font-weight: bold; color: black;">Nike EasyOn-Designed to put on and get going.</p>

      
        <div class="btn-container">
          <button class="btn text-light ps-4 pe-4 mt-3" style="background-color: black;  border-radius: 20px; font-weight:bold;">Shop</button>
        </div>

        
      </div>
    
    </div>

<div style="margin-top: -420px;">
  <div class="header-container">
      
  <div style="font-weight:600;" class="heading-left ms-4">Always Iconic</div>

  </div>


  <div class="card-container">
      
  <div class="card" style="width: 450px; height: 450px;">
    <img class="w-100 h-100" src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/611b45d1-81a7-4c45-a419-adf54f65c48d/jordan-spizike-low-chinese-new-year-shoes-LNdJ8J.png" alt="Card 1 Image">
  </div>

  
  <div class="card" style="width: 450px; height: 450px;">
    <img class="w-100 h-100" src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/7b6d87f1-4bfb-4a82-8f6f-84630181a287/air-jordan-1-low-se-shoes-xq1gdm.png" alt="Card 2 Image">
    
  </div>

  
  <div class="card" style="width: 450px; height: 450px;">
    <img class="w-100 h-100" src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/50620c32-c95c-4c38-82ef-7b449dcd30f0/jumpman-mvp-shoes-JV1HCs.png" alt="Card 3 Image">
  </div>
  </div>
</div>


<div class="mt-5" >

  <div class="header-container">
      
    <div style="font-weight:600;" class="heading-left ms-4">Shop by Sport</div>
  
    </div>

  <div class="card-container">
        
    <div class="card" style="width: 450px; height: 450px;">
      <img class="w-100 h-100" src="https://i.ebayimg.com/images/g/rD0AAOSwdjJjvT2R/s-l1200.jpg" alt="Card 1 Image">
    </div>
  
    
    <div class="card" style="width: 450px; height: 450px;">
      <img class="w-100 h-100" src="https://www.scratch72.com/uploads/assets/nike-golf-brands.jpg?u=1VfTdC" alt="Card 2 Image">
      
    </div>
  
    
    <div class="card" style="width: 450px; height: 450px;">
      <img class="w-100 h-100" src="https://static.nike.com/a/images/f_auto,cs_srgb/w_1920,c_limit/636f0223-2637-4fae-92e1-9eaac060d2cb/the-best-nike-trail-running-shoes.jpg" alt="Card 3 Image">
    </div>
  </div>
  
  <div class="column-container">
      
    <div class="column">
      <h6 style="font-size: 17px;">Nike Basketball</h6>
      <p style=" font-size: 17px;">Styles made for your game</p>
      <h6 style="margin-top: 28px ; font-size: 18px;"><a href="" style="color: black;">Shop</a></h6>
    </div>
  
    
    <div class="column">
      <h6 style="font-size: 17px;">Nike Golf</h6>
      <p style=" font-size: 17px;">Conquer any course in style</p>
      <h6 style="margin-top: 28px; font-size: 18px;"><a href="" style="color: black;">Shop</a></h6>
    </div>
  
    
    <div class="column">
      <h6 style="font-size: 17px;">Nike Trail</h6>
      <p style=" font-size: 17px;">Gear that leads to wild places</p>
      <h6 style="margin-top: 28px; font-size: 18px;"><a href="" style="color: black;">Shop</a></h6>
    </div>
  </div>
</div>

<div class="container mb-5" style="margin-top: 100px;">
  <div class="row">
    <div class="col-lg-8 mx-auto">
     
      <div class="row">
        
        <div class="col-md-3">
          <h6 class="mb-0" style="font-size: x-large;">Icons</h6>
          <ul class="list-unstyled mt-3">
            <li><a href="#" style="text-decoration: none; color: rgb(95, 94, 94);font-weight: 600; ">Air Force 1</a></li>
            <li class="mt-2"><a href="#" style="text-decoration: none; color: rgb(95, 94, 94); font-weight: 600; " >Haurache</a></li>
            <li class="mt-2"><a href="#" style="text-decoration: none; color: rgb(95, 94, 94); font-weight: 600; " >Air Max 90</a></li>
            <li class="mt-2"><a href="#"style="text-decoration: none;  color:   rgb(95, 94, 94); font-weight: 600; ">Air Max 95</a></li>
          </ul>
        </div>

       
        <div class="col-md-3">
          <h6 class="mb-0" style="font-size: x-large;">Shoes</h6>
          <ul class="list-unstyled mt-3">
            <li><a href="#" style="text-decoration: none; color: rgb(95, 94, 94);font-weight: 600; " >All Shoes</a></li>
            <li class="mt-2"><a href="#" style="text-decoration: none; color: rgb(95, 94, 94);font-weight: 600; " >Custom Shoes</a></li>
            <li class="mt-2"><a href="#" style="text-decoration: none; color: rgb(95, 94, 94);font-weight: 600; " >Jordan Shoes</a></li>
            <li class="mt-2"><a href="#" style="text-decoration: none; color: rgb(95, 94, 94);font-weight: 600; ">Running Shoes</a></li>
          </ul>
        </div>

       
        <div class="col-md-3">
          <h6 class="mb-0" style="font-size: x-large;">Clothing</h6>
          <ul class="list-unstyled mt-3">
            <li><a href="#" style="text-decoration: none; color: rgb(95, 94, 94); font-weight: 600; " >All Clothing</a></li>
            <li class="mt-2"><a href="#"style="text-decoration: none;  color: rgb(95, 94, 94); font-weight: 600; " >Modest Wear</a></li>
            <li class="mt-2"><a href="#" style="text-decoration: none; color: rgb(95, 94, 94); font-weight: 600; " >Hoodies & Pull...</a></li>
            <li class="mt-2"><a href="#" style="text-decoration: none; color: rgb(95, 94, 94); font-weight: 600; ">Shirt & Tops</a></li>
          </ul>
        </div>

        
        <div class="col-md-3">
          <h6 class="mb-0" style="font-size: x-large;">Kids'</h6>
          <ul class="list-unstyled mt-3">
            <li><a href="#" style="text-decoration: none; color: rgb(95, 94, 94);  font-weight: 600; " >Infant & Toddle...</a></li>
            <li class="mt-2"><a href="#" style="text-decoration: none; color: rgb(95, 94, 94);  font-weight: 600; " >Kid's Shoes</a></li>
            <li class="mt-2"><a href="#" style="text-decoration: none; color: rgb(95, 94, 94);  font-weight: 600; " >Kid's Jordan S...</a></li>
            <li class="mt-2"><a href="#" style="text-decoration: none; color: rgb(95, 94, 94);  font-weight: 600; " >Kid's Basketbal...</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class=" text-light" style="background-color: black;">
  <div class="container">
    <div class="row">
    
      <div class="col-lg-6 d-flex mt-5">
       <div class="col-lg-4">
          <h6 style="font-size: small; font-weight: bolder;" class="mb-3">FIND A STORE</h6>
          <h6 style="font-size: small;  font-weight: bolder;" class="mb-3">BECOME A MEMBER</h6>
          <h6 style="font-size: small;  font-weight: bolder;">Send Us Feedback</h6>
       </div>

       <div class="col-lg-4">
        <h6 style="font-size: small;  font-weight: bolder;">GET HELP</h6>
        <ul class="list-unstyled mt-3">
          <li><a href="#" style="text-decoration: none; color: rgb(95, 94, 94);  font-weight: 600; font-size: 12px; font-weight: bolder; " >Order Status</a></li>
          <li class="mt-2"><a href="#" style="text-decoration: none; color: rgb(95, 94, 94);  font-weight: 600; font-size: 12px;  font-weight: bolder;" >Delivery</a></li>
          <li class="mt-2"><a href="#" style="text-decoration: none; color: rgb(95, 94, 94);  font-weight: 600; font-size: 12px ;font-weight: bolder;" >Returns</a></li>
          <li class="mt-2"><a href="#" style="text-decoration: none; color: rgb(95, 94, 94);  font-weight: 600; font-size: 12px; font-weight: bolder; " >Payment Options</a></li>
          <li class="mt-2"><a href="#" style="text-decoration: none; color: rgb(95, 94, 94); font-weight: 600; font-size: 12px; font-weight: bolder;" >Contact Us On Nike.com</a></li>
          <li class="mt-2"><a href="#" style="text-decoration: none; color: rgb(95, 94, 94); font-weight: 600; font-size: 12px; font-weight: bolder;">Inquiries</a></li>
        </ul>
       </div>
       <div class="col-lg-4">
        <h6 style="font-size: small;  font-weight: bolder;">ABOUT NIKE</h6>
        <ul class="list-unstyled mt-3">
          <li><a href="#" style="text-decoration: none; color: rgb(95, 94, 94);  font-weight: 600; font-size: 12px; font-weight: bolder;" >News</a></li>
          <li class="mt-2"><a href="#" style="text-decoration: none; color: rgb(95, 94, 94);  font-weight: 600; font-size: 12px; font-weight: bolder;" >Careers</a></li>
          <li class="mt-2"><a href="#" style="text-decoration: none; color: rgb(95, 94, 94);  font-weight: 600; font-size: 12px; font-weight: bolder;" >Investors</a></li>
          <li class="mt-2"><a href="#" style="text-decoration: none; color: rgb(95, 94, 94);  font-weight: 600; font-size: 12px; font-weight: bolder;" >Sustainability</a></li>
        </ul>
       </div>
      </div>

      
      <div class="col-lg-2">

      </div>

    
      <div class="col-lg-4">
      
        <div class="d-flex mt-5" style="float: right;">
          <div class="social-icon rounded-circle p-2 me-2" style=" background-color: rgb(128, 127, 127);">
            <a href="#" class="text-dark">
             
              <i class="fab fa-twitter"></i>
            </a>
          </div>
          <div class="social-icon  rounded-circle p-2 me-2 " style="background-color: rgb(128, 127, 127);">
            <a href="#" class="text-dark">
            
              <i class="fab fa-facebook-f pe-1 ps-1"></i>
            </a>
          </div>
          <div class="social-icon  rounded-circle p-2 me-2"  style=" background-color: rgb(128, 127, 127)">
            <a href="#" class="text-dark">
            
              <i class="fab fa-youtube"></i>
            </a>
          </div>
          <div class="social-icon  rounded-circle p-2"  style=" background-color: rgb(128, 127, 127);">
            <a href="#" class="text-dark">

              <i  class="fab fa-instagram pe-1"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
     
      <div class="col-lg-4 d-flex mt-5">
        <h6 style="font-size: small;  font-weight: bolder;"><i class="fa-solid fa-location-dot me-2"></i>India</h6>
        <h6 class="ms-4" style="font-size: small;  font-weight: bolder; color: rgb(95, 94, 94);">© 2023 Nike, Inc. All Rights Reserved</h6>
      </div>
  
      <div class="col-lg-4">

      </div>
      
        <div class="col-lg-4 mt-5 d-flex" style="float:right;">
  <div class="d-flex">
    <div>
              <h6 style="font-size: small;  font-weight: bolder;  color: rgb(95, 94, 94);" class="me-4">Guides</h6>
      
    </div>        
    <div>
      <h6 style="font-size: small;  font-weight: bolder;  color: rgb(95, 94, 94);" class="me-4">Terms of Sale</h6>
      
    </div>        
    <div>
      <h6 style="font-size: small;  font-weight: bolder;  color: rgb(95, 94, 94);"class="me-4">Terms of Use</h6>
      
    </div>        
    <div class="mb-2">
      <h6 style="font-size: small;  font-weight: bolder;  color: rgb(95, 94, 94);"class="me-4">Nike Privacy Policy</h6>
      
    </div>   
  </div>
</div>   

    </div>
  </div>
  
</footer>



  
 

</div>