<div>
  <div>
    <div class="container-fluid ">
      <div class="row" style="margin-bottom: -19px;">
        <div class="col-lg-2 d-flex">
          
          <div>
            <img class="ms-5 mt-2" src="https://upload.wikimedia.org/wikipedia/en/thumb/3/37/Jumpman_logo.svg/768px-Jumpman_logo.svg.png" width="20px" height="20px" alt="">
          </div>
        </div>
        <div class="col-lg-6"></div>
        <div class="col-lg-4">
         
          <ul class="d-flex justify-content-end me-5" style="list-style: none; gap: 14px; padding-top: 5px;">
            <li><a href="#" style="text-decoration: none; color: black; font-size: 12px; font-weight: bold;">Find a Store</a></li>
            <p class="mt-1" style="font-size: small;">|</p>
            <li><a href="#" style="text-decoration: none; color: black; font-size: 12px; font-weight: bold;">Help</a></li>
            <p class="mt-1" style="font-size: small;">|</p>
            <li><a href="#" style="text-decoration: none; color: black; font-size: 12px; font-weight: bold;">Join Us</a></li>
            <p class="mt-1" style="font-size: small;">|</p>
            <li><a href="#" style="text-decoration: none; color: black; font-size: 12px; font-weight: bold;">Sign In</a></li>
          </ul>
        </div>
      </div>
    </div>
</div>

  <div>
    <nav>
      <div class="navbar-container">
        
        <div class="logo ms-5">
          <img src="https://i.pinimg.com/originals/20/60/2d/20602d43cc993811e5a6bd1886af4f33.png" alt="Logo">
        </div>
  
       
       <div style="margin-left:200px;">
          <ul class="nav-links" style="font-weight: 500; font-size: 10px;">
            <li><a href="#">New & Featured</a></li>
            <li><a href="#">Men</a></li>
            <li><a href="#">Women</a></li>
            <li><a href="#">Kids</a></li>
            <li><a href="#">Sale</a></li>
            <li><a href="#">Customize</a></li>
            <li><a href="#">SNKRS</a></li>
          </ul>
       </div>
  
      <div class="me-5">
        
          <form class="search-form">
            <input class="search-input" type="text" placeholder="Search">
            <i class="fa-regular fa-heart icon"></i>
            <i class="fas fa-shopping-bag icon ms-3"></i>
          </form>
      </div>
      </div>
    </nav>
  
  
    
  </div>
  <div>
   <div class="text-center"> 
    <p class="mt-1" style="font-size: 17px;  font-weight:600;">Move, Shop, Customise & Celebrate With Us.</p>
    <p style="font-size: 12px;  font-weight:600; margin-top: -15px;">No matter What you feel like doing today , its better as a Member.</p>
    <h6 style="margin-top: -10px;  font-size: 12px;  font-weight:bold; "><a href=""  style="color: black;">Join Us</a></h6>
  </div>
  </div>

  
  <div class="image-container">
    >
    <div class="column">
      <img src="https://i.pinimg.com/originals/f7/a6/7a/f7a67af0dfa85560e0fc919612605486.jpg" alt="Image 1">
    </div>

    
    <div class="column">
      <img src="https://s-media-cache-ak0.pinimg.com/600x315/93/5e/11/935e11c5e292daea18b5399467293488.jpg" alt="Image 2">
    </div>
  </div>

  
  <div class="container text-center">
        <div class="content-container">
          <!-- Small Heading -->
          <h3 class="small-heading mt-3">Nike Invincible 3</h3>

          <!-- Big Heading -->
          <h1 class="big-heading" style="font-weight: bolder;  font-size: 80px; margin-top: -20px;">FEEL IT TO BELEIVE IT</h1>

          <!-- Paragraph -->
          <p class="paragraph" style="font-weight: bold; color: black;">Take cushion for a run with new colors in the Invincible 3</p>

          <!-- Button -->
          <div class="btn-container">
            <button class="btn text-light ps-4 pe-4 mt-3" style="background-color: black;  border-radius: 20px; font-weight:bold;">Shop</button>
          </div>
        </div>
      
  </div>

</div>